extend layout

block content
	#flashcard-app.container

	script(type="text/template", id="flashcard-template")
		.flash-card-container
			.flipper
				.front
					.header
						h3.simplified <%= simplified %>
						h4.pinyin-accented <%= pinyin %>
				.back
					.definition <%= definition %>
			.card-counter <%= index + 1 %>
		.nav
			.prev <
			.next >




	script(src="/javascripts/lib/jquery.min.js")
	script(src="/javascripts/lib/underscore.min.js")
	script(src="/javascripts/lib/backbone.min.js")
	script(src="/javascripts/app.js")