extend layout

block content
	#flashcard-app.container

	script(type="text/template", id="flashcard-template")
		.flash-card-container
			.flipper
				.front
					.header
						h3.simplified <%= simplified %>
						h4.pinyin-accented <%= pinyin %>
					i.save.fa.fa-star-o Save
					.card-counter <%= index + 1 %>
				.back
					.definition <%= definition %>
		.nav
			.prev <
			.next >

		// input(type="text", id="search" class="search-term")
		// button(class="search") Search




	script(src="/javascripts/lib/jquery.min.js")
	script(src="/javascripts/lib/jquery.mobile.custom/jquery.mobile.custom.min.js")
	script(src="/javascripts/lib/underscore.min.js")
	script(src="/javascripts/lib/backbone.min.js")
	script(src="/javascripts/app.js")